.generateTextsWrapper {
  width: 100%;
  height: auto;
  max-width: 700px;
}

.image {
  width: 100%;
  height: auto;
  margin-bottom: 6px;
}

.rounded {
  border-radius: 1rem;
}

.shadow {
  box-shadow: var(--shadow-2xl);
}

.imageDescription {
  font-style: italic;
}
