/* Text colors */
.text-primary {
  color: var(--color-primary);
}
.text-secondary {
  color: var(--color-secondary);
}
.text-secondaryDark {
  color: var(--color-secondaryDark);
}
.text-tertiary {
  color: var(--color-tertiary);
}
.text-tertiaryDark {
  color: var(--color-tertiaryDark);
}
.text-black {
  color: var(--color-rooBlack);
}
.text-white {
  color: var(--color-rooWhite);
}
.text-lightOne {
  color: var(--color-lightOne);
}
.text-primarySecondaryOpac {
  @apply bg-linear-to-r from-primary/70 to-secondary/70 bg-clip-text text-transparent;
}
.text-primaryTertiaryOpac {
  @apply bg-linear-to-r from-primary/70 to-tertiary/70 bg-clip-text text-transparent;
}
.text-secondaryTertiaryOpac {
  @apply bg-linear-to-r from-secondary/70 to-tertiary/70 bg-clip-text text-transparent;
}
.text-secondaryPrimaryOpac {
  @apply bg-linear-to-r from-secondary/70 to-primary/70 bg-clip-text text-transparent;
}
.text-tertiaryPrimaryOpac {
  @apply bg-linear-to-r from-tertiary/70 to-primary/70 bg-clip-text text-transparent;
}
.text-tertiarySecondaryOpac {
  @apply bg-linear-to-r from-tertiary/70 to-secondary/70 bg-clip-text text-transparent;
}
.text-primarySecondaryTertiaryOpac {
  @apply bg-linear-to-r from-primary/70 via-secondary/70 to-tertiary/70 bg-clip-text text-transparent;
}
.text-primaryTertiarySecondaryOpac {
  @apply bg-linear-to-r from-primary/70 via-tertiary/70 to-secondary/70 bg-clip-text text-transparent;
}
.text-secondaryPrimaryTertiaryOpac {
  @apply bg-linear-to-r from-secondary/70 via-primary/70 to-tertiary/70 bg-clip-text text-transparent;
}
.text-secondaryTertiryPrimaryOpac {
  @apply bg-linear-to-r from-secondary/70 via-tertiary/70 to-primary/70 bg-clip-text text-transparent;
}
.text-tertiaryPrimarySecondaryOpac {
  @apply bg-linear-to-r from-tertiary/70 via-primary/70 to-secondary/70 bg-clip-text text-transparent;
}
.text-tertiarySecondaryPrimaryOpac {
  @apply bg-linear-to-r from-tertiary/70 via-secondary/70 to-primary/70 bg-clip-text text-transparent;
}

.text-primarySecondary {
  background: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-secondary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.text-primaryTertiary {
  background: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-tertiary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.text-secondaryTertiary {
  background: linear-gradient(
    90deg,
    var(--color-secondary),
    var(--color-tertiary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.text-secondaryPrimary {
  background: linear-gradient(
    90deg,
    var(--color-secondary),
    var(--color-primary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.text-tertiaryPrimary {
  background: linear-gradient(
    90deg,
    var(--color-tertiary),
    var(--color-primary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.text-tertiarySecondary {
  background: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-secondary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.text-primarySecondaryTertiary {
  background: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-secondary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.text-primaryTertiarySecondary {
  background: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-secondary),
    var(--color-tertiary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.text-secondaryPrimaryTertiary {
  background: linear-gradient(
    90deg,
    var(--color-secondary),
    var(--color-primary),
    var(--color-tertiary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.text-secondaryTertiryPrimary {
  background: linear-gradient(
    90deg,
    var(--color-secondary),
    var(--color-tertiary),
    var(--color-primary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.text-tertiaryPrimarySecondary {
  background: linear-gradient(
    90deg,
    var(--color-tertiary),
    var(--color-primary),
    var(--color-secondary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.text-tertiarySecondaryPrimary {
  background: linear-gradient(
    90deg,
    var(--color-tertiary),
    var(--color-secondary),
    var(--color-primary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
