@import "tailwindcss";

@font-face {
  font-family: Montserrat;
  src: url("./_fonts/Montserrat.ttf");
}

@theme {
  --color-orange: #ff9900;
  --color-pink: #e70d72;
  --color-violet: #663399;

  --color-borderLight: var(--color-gray-300);

  --color-placeholderText: var(--color-gray-400);

  --color-optionsBar: var(--color-gray-50);

  --font-montserrat: "Montserrat";

  --spacing-contentWrapper: 1500px;
  --spacing-lowerHeader: 1000px;
}

h1 {
  @apply font-montserrat text-5xl;
}

h2 {
  @apply font-montserrat text-4xl;
}

h3 {
  @apply font-montserrat text-xl;
}

h4 {
  @apply font-montserrat text-lg;
}

h5 {
  @apply font-montserrat text-base;
}

p {
  @apply font-montserrat;
}

.gradientBorder {
  border-radius: 50px; /*1*/
  border: 3px solid transparent; /*2*/
  background: linear-gradient(45deg, red, blue) border-box; /*3*/
  mask: /*4*/ linear-gradient(#000 0 0) padding-box, linear-gradient(#000 0 0);
  mask-composite: exclude; /*5*/
}
