@import "tailwindcss";

@theme {
  --animate-dropdown-open: dropdown-open 100ms ease-out both;
  --animate-dropdown-close: dropdown-close 100ms ease-in-out both;

  @keyframes dropdown-open {
    0% {
      max-height: 0;
      pointer-events: none;
      visibility: hidden;
    }
    100% {
      max-height: 500px;
      pointer-events: auto;
      visibility: visible;
    }
  }

  @keyframes dropdown-close {
    0% {
      max-height: 500px;
      pointer-events: auto;
      visibility: visible;
      padding-top: 20px;
    }
    100% {
      max-height: 0;
      pointer-events: none;
      visibility: hidden;
      padding-top: 0px;
    }
  }
}
