.font-light {
  font-weight: var(--fontWeight-light);
}

.font-base {
  font-weight: var(--font-base);
}

.font-semibold {
  font-weight: var(--font-semibold);
}

.font-bold {
  font-weight: var(--font-bold);
}

.font-extraBold {
  font-weight: var(--font-extraBold);
}
