@import "tailwindcss";
@import "./colors.scss";
@import "./text.scss";
@import "./backgrounds.scss";
@import "./padding.scss";
@import "./radius.scss";
@import "./position.scss";

@layer utilities {
  .no-spin::-webkit-outer-spin-button,
  .no-spin::-webkit-inner-spin-button {
    @apply appearance-none m-0;
  }
  .no-spin {
    --moz-appearance: textfield;
  }
}

/* Font imports */

@font-face {
  font-family: Montserrat;
  src: url("../_fonts/Montserrat.ttf");
}

@font-face {
  font-family: Nunito;
  src: url("../_fonts/Nunit-sans.ttf");
}

:root {
  --font-base: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extraBold: 800;
}

@theme {
  --color-secondary: #ff9900;
  --color-secondaryDark: #f2810e;
  --color-primary: #ff0066;
  --color-tertiary: #663399;
  --color-tertiaryDark: #333366;

  --color-specialBlue: #0099ff;
  --color-specialGreen: #80f20e;

  --color-rooGray: #343434;
  --color-rooBlack: #181818;

  --color-success: var(--color-green-500);
  --color-warning: #fcaa2e;
  --color-danger: #ee094b;

  --color-borderLight: var(--color-gray-200);

  --color-textNormal: var(--color-gray-800);
  --color-textMedium: var(--color-gray-600);

  --color-placeholder: var(--color-gray-500);

  --color-lightOne: var(--color-zinc-800);
  --color-lightOne: var(--color-zinc-800);

  --color-optionsBar: var(--color-gray-50);

  /* Fonts */

  --font-display: "Montserrat";
  --font-heading: "Nunito";
  --font-body: "Nunito";

  /* Radius */

  --radius-small: var(--radius-md);
  --radius-medium: var(--radius-xl);
  --radius-large: var(--radius-3xl);

  /* Spacing */

  --spacing-adminGap: 1rem;
  --spacing-contentWrapper: 1500px;
  --spacing-lowerHeader: 1000px;
  --spacing-landingWrapper: 1200px;

  /* Animations */
}

/* Scrollbar */

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) white !important;
}

/* Helper classes */

.listingGridColumns {
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
}

.blogPostColumns {
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
}

.animate {
  transition: all ease-in-out 0.1s;
}

.gradientBorder {
  border-radius: 50px; /*1*/
  border: 3px solid transparent; /*2*/
  background: linear-gradient(45deg, red, blue) border-box; /*3*/
  mask: /*4*/
    linear-gradient(#000 0 0) padding-box,
    linear-gradient(#000 0 0);
  mask-composite: exclude; /*5*/
}

::-webkit-scrollbar-thumb {
  scrollbar-color: var(--color-primary);
}
