@import "tailwindcss";
@import "./animations.css";

@source "../../node_modules/@roo/shared";

@layer utilities {
  .no-spin::-webkit-outer-spin-button,
  .no-spin::-webkit-inner-spin-button {
    @apply appearance-none m-0;
  }
  .no-spin {
    --moz-appearance: textfield;
  }
}

/* Font imports */

@font-face {
  font-family: Montserrat;
  src: url("../_fonts/Montserrat.ttf");
}

@font-face {
  font-family: Nunito;
  src: url("../_fonts/Nunit-sans.ttf");
}

@theme {
  --color-secondary: #ff9900;
  --color-secondaryDark: #f2810e;
  --color-primary: #ff0066;
  --color-tertiary: #663399;
  --color-tertiaryDark: #333366;

  --color-specialBlue: #0099ff;
  --color-specialGreen: #80f20e;

  --color-rooGray: #343434;
  --color-rooBlack: #181818;

  --color-success: var(--color-green-500);
  --color-warning: #fcaa2e;
  --color-danger: #ee094b;

  --color-borderLight: var(--color-gray-200);

  --color-textNormal: var(--color-gray-800);
  --color-textMedium: var(--color-gray-600);

  --color-placeholder: var(--color-gray-500);

  --color-lightOne: var(--color-zinc-800);
  --color-lightOne: var(--color-zinc-800);

  --color-optionsBar: var(--color-gray-50);

  /* Fonts */

  --font-display: "Montserrat";
  --font-heading: "Nunito";
  --font-bdoy: "Nunito";

  /* Radius */

  --radius-small: var(--radius-md);
  --radius-medium: var(--radius-xl);
  --radius-large: var(--radius-3xl);

  /* Spacing */

  --spacing-adminGap: 1rem;
  --spacing-contentWrapper: 1500px;
  --spacing-lowerHeader: 1000px;
  --spacing-landingWrapper: 1200px;

  /* Animations */

  --animate-popup: popup 200ms ease-in-out both;
  @keyframes popup {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
}

/* Scrollbar */

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) white !important;
}

/* Helper classes */

.listingGridColumns {
  @apply grid-cols-[repeat(auto-fit,minmax(17rem,1fr))];
}

.animate {
  @apply ease-in-out transition-all;
}

.gradientBorder {
  border-radius: 50px; /*1*/
  border: 3px solid transparent; /*2*/
  background: linear-gradient(45deg, red, blue) border-box; /*3*/
  mask: /*4*/
    linear-gradient(#000 0 0) padding-box,
    linear-gradient(#000 0 0);
  mask-composite: exclude; /*5*/
}

::-webkit-scrollbar-thumb {
  scrollbar-color: var(--color-primary);
}

/* Fonts boldness*/
.font-fontBase {
  @apply font-medium;
}

.font-fontSemibold {
  @apply font-semibold;
}

.font-fontBold {
  @apply font-bold;
}

.font-fontExtrabold {
  @apply font-extrabold;
}

/* Text size */

.text-displayLg {
  @apply text-[72px];
}
.text-displayMd {
  @apply text-[48px];
}
.text-displaySm {
  @apply text-[40px];
}
.text-headingXl {
  @apply text-[60px];
}
.text-headingLg {
  @apply text-[40px];
}
.text-headingMd {
  @apply text-[28px];
}
.text-headingSm {
  @apply text-[20px];
}
.text-headingXs {
  @apply text-[18px];
}
.text-bodyXl {
  @apply text-[20px];
}
.text-bodyLg {
  @apply text-[18px];
}
.text-bodyMd {
  @apply text-[16px];
}
.text-bodySm {
  @apply text-[12px];
}
.text-bodyXs {
  @apply text-[10px];
}

/* Bg colors */

.bg-white {
  @apply bg-white;
}
.bg-whiteOpac {
  @apply bg-white/50;
}

.bg-secondary {
  @apply bg-secondary;
}
.bg-secondaryOpac {
  @apply bg-secondary/50;
}

.bg-secondaryDark {
  @apply bg-secondaryDark;
}
.bg-secondaryDarkOpac {
  @apply bg-secondaryDark/50;
}

.bg-primary {
  @apply bg-primary;
}
.bg-primaryOpac {
  @apply bg-primary/50;
}

.bg-tertiary {
  @apply bg-tertiary;
}
.bg-tertiaryOpac {
  @apply bg-tertiary/50;
}

.bg-tertiaryDark {
  @apply bg-tertiaryDark;
}
.bg-tertiaryDarkOpac {
  @apply bg-tertiaryDark/50;
}

.bg-blackTransparent {
  @apply bg-linear-60 from-rooBlack to-rooBlack/30;
}
.bg-transparentBlack {
  @apply bg-linear-60 from-rooBlack/30 to-rooBlack;
}

.bg-primaryTransparent {
  @apply bg-linear-30 from-primary/70 to-transparent;
}
.bg-secondaryTransparent {
  @apply bg-linear-30 from-secondary/70 to-transparent;
}
.bg-tertiaryTransparent {
  @apply bg-linear-30 from-tertiary/70 to-transparent;
}

.bg-transparentPrimary {
  @apply bg-linear-30 from-transparent to-primary/70;
}
.bg-transparentSecondary {
  @apply bg-linear-30 from-transparent to-secondary/70;
}
.bg-transparentTertiary {
  @apply bg-linear-30 from-transparent to-tertiary/70;
}

.bg-primarySecondaryOpac {
  @apply bg-linear-30 from-primary/70 to-secondary/70;
}
.bg-primaryTertiaryOpac {
  @apply bg-linear-30 from-primary/70 to-tertiary/70;
}
.bg-secondaryTertiaryOpac {
  @apply bg-linear-30 from-secondary/70 to-tertiary/70;
}
.bg-secondaryPrimaryOpac {
  @apply bg-linear-30 from-secondary/70 to-primary/70;
}
.bg-tertiaryPrimaryOpac {
  @apply bg-linear-30 from-tertiary/70 to-primary/70;
}
.bg-tertiarySecondaryOpac {
  @apply bg-linear-30 from-tertiary/70 to-secondary/70;
}
.bg-primarySecondaryTertiaryOpac {
  @apply bg-linear-30 from-primary/70 via-secondary/70 to-tertiary/70;
}
.bg-primaryTertiarySecondaryOpac {
  @apply bg-linear-30 from-primary/70 via-tertiary/70 to-secondary/70;
}
.bg-secondaryPrimaryTertiaryOpac {
  @apply bg-linear-30 from-secondary/70 via-primary/70 to-tertiary/70;
}
.bg-secondaryTertiryPrimaryOpac {
  @apply bg-linear-30 from-secondary/70 via-tertiary/70 to-primary/70;
}
.bg-tertiaryPrimarySecondaryOpac {
  @apply bg-linear-30 from-tertiary/70 via-primary/70 to-secondary/70;
}
.bg-tertiarySecondaryPrimaryOpac {
  @apply bg-linear-30 from-tertiary/70 via-secondary/70 to-primary/70;
}
.bg-primarySecondary {
  @apply bg-linear-30 from-primary to-secondary;
}
.bg-primaryTertiary {
  @apply bg-linear-30 from-primary to-tertiary;
}
.bg-secondaryTertiary {
  @apply bg-linear-30 from-secondary to-tertiary;
}
.bg-secondaryPrimary {
  @apply bg-linear-30 from-secondary to-primary;
}
.bg-tertiaryPrimary {
  @apply bg-linear-30 from-tertiary to-primary;
}
.bg-tertiarySecondary {
  @apply bg-linear-30 from-tertiary to-secondary;
}
.bg-primarySecondaryTertiary {
  @apply bg-linear-30 from-primary via-secondary to-tertiary;
}
.bg-primaryTertiarySecondary {
  @apply bg-linear-30 from-primary via-tertiary to-secondary;
}
.bg-secondaryPrimaryTertiary {
  @apply bg-linear-30 from-secondary via-primary to-tertiary;
}
.bg-secondaryTertiryPrimary {
  @apply bg-linear-30 from-secondary via-tertiary to-primary;
}
.bg-tertiaryPrimarySecondary {
  @apply bg-linear-30 from-tertiary via-primary to-secondary;
}
.bg-tertiarySecondaryPrimary {
  @apply bg-linear-30 from-tertiary via-secondary to-primary;
}

/* Text colors */
.text-primary {
  @apply text-primary;
}
.text-secondary {
  @apply text-secondary;
}
.text-secondaryDark {
  @apply text-secondaryDark;
}
.text-tertiary {
  @apply text-tertiary;
}
.text-tertiaryDark {
  @apply text-tertiaryDark;
}
.text-black {
  @apply text-rooBlack;
}
.text-white {
  @apply text-white;
}
.text-lightOne {
  @apply text-lightOne;
}
.text-primarySecondaryOpac {
  @apply bg-linear-to-r from-primary/70 to-secondary/70 bg-clip-text text-transparent;
}
.text-primaryTertiaryOpac {
  @apply bg-linear-to-r from-primary/70 to-tertiary/70 bg-clip-text text-transparent;
}
.text-secondaryTertiaryOpac {
  @apply bg-linear-to-r from-secondary/70 to-tertiary/70 bg-clip-text text-transparent;
}
.text-secondaryPrimaryOpac {
  @apply bg-linear-to-r from-secondary/70 to-primary/70 bg-clip-text text-transparent;
}
.text-tertiaryPrimaryOpac {
  @apply bg-linear-to-r from-tertiary/70 to-primary/70 bg-clip-text text-transparent;
}
.text-tertiarySecondaryOpac {
  @apply bg-linear-to-r from-tertiary/70 to-secondary/70 bg-clip-text text-transparent;
}
.text-primarySecondaryTertiaryOpac {
  @apply bg-linear-to-r from-primary/70 via-secondary/70 to-tertiary/70 bg-clip-text text-transparent;
}
.text-primaryTertiarySecondaryOpac {
  @apply bg-linear-to-r from-primary/70 via-tertiary/70 to-secondary/70 bg-clip-text text-transparent;
}
.text-secondaryPrimaryTertiaryOpac {
  @apply bg-linear-to-r from-secondary/70 via-primary/70 to-tertiary/70 bg-clip-text text-transparent;
}
.text-secondaryTertiryPrimaryOpac {
  @apply bg-linear-to-r from-secondary/70 via-tertiary/70 to-primary/70 bg-clip-text text-transparent;
}
.text-tertiaryPrimarySecondaryOpac {
  @apply bg-linear-to-r from-tertiary/70 via-primary/70 to-secondary/70 bg-clip-text text-transparent;
}
.text-tertiarySecondaryPrimaryOpac {
  @apply bg-linear-to-r from-tertiary/70 via-secondary/70 to-primary/70 bg-clip-text text-transparent;
}
.text-primarySecondary {
  @apply bg-linear-to-r from-primary to-secondary bg-clip-text text-transparent;
}
.text-primaryTertiary {
  @apply bg-linear-to-r from-primary to-tertiary bg-clip-text text-transparent;
}
.text-secondaryTertiary {
  @apply bg-linear-to-r from-secondary to-tertiary bg-clip-text text-transparent;
}
.text-secondaryPrimary {
  @apply bg-linear-to-r from-secondary to-primary bg-clip-text text-transparent;
}
.text-tertiaryPrimary {
  @apply bg-linear-to-r from-tertiary to-primary bg-clip-text text-transparent;
}
.text-tertiarySecondary {
  @apply bg-linear-to-r from-tertiary to-secondary bg-clip-text text-transparent;
}
.text-primarySecondaryTertiary {
  @apply bg-linear-to-r from-primary via-secondary to-tertiary bg-clip-text text-transparent;
}
.text-primaryTertiarySecondary {
  @apply bg-linear-to-r from-primary via-tertiary to-secondary bg-clip-text text-transparent;
}
.text-secondaryPrimaryTertiary {
  @apply bg-linear-to-r from-secondary via-primary to-tertiary bg-clip-text text-transparent;
}
.text-secondaryTertiryPrimary {
  @apply bg-linear-to-r from-secondary via-tertiary to-primary bg-clip-text text-transparent;
}
.text-tertiaryPrimarySecondary {
  @apply bg-linear-to-r from-tertiary via-primary to-secondary bg-clip-text text-transparent;
}
.text-tertiarySecondaryPrimary {
  @apply bg-linear-to-r from-tertiary via-secondary to-primary bg-clip-text text-transparent;
}
