:root {
  --p-0: 0rem;
  --p-0-5: 0.125rem;
  --p-1: 0.25rem;
  --p-1-5: 0.375rem;
  --p-2: 0.5rem;
  --p-2-5: 0.625rem;
  --p-3: 0.75rem;
  --p-3-5: 0.875rem;
  --p-4: 1rem;
  --p-5: 1.25rem;
  --p-6: 1.5rem;
  --p-7: 1.75rem;
  --p-8: 2rem;
  --p-9: 2.25rem;
  --p-10: 2.5rem;
  --p-11: 2.75rem;
  --p-12: 3rem;
  --p-14: 3.5rem;
  --p-16: 4rem;
  --p-20: 5rem;
  --p-24: 6rem;
  --p-28: 7rem;
  --p-32: 8rem;
  --p-36: 9rem;
  --p-40: 10rem;
  --p-44: 11rem;
  --p-48: 12rem;
  --p-52: 13rem;
  --p-56: 14rem;
  --p-60: 15rem;
  --p-64: 16rem;
  --p-72: 18rem;
  --p-80: 20rem;
  --p-96: 24rem;
}
