.object-position-center {
  object-position: center;
}
.object-position-top {
  object-position: top;
}
.object-position-bottom {
  object-position: bottom;
}
.object-position-left {
  object-position: left;
}
.object-position-right {
  object-position: right;
}
