:root {
  --radius-sm: 0.375rem;
  --radius-md: 0.75rem;
  --radius-lg: 1.5rem;
  --radius-xl: 2rem;
  --radius-2xl: 2.5rem;
  --radius-3xl: 3rem;
  --radius-full: 9999px;
}

.radius-sm {
  border-radius: var(--radius-sm);
}

.radius-md {
  border-radius: var(--radius-md);
}

.radius-lg {
  border-radius: var(--radius-lg);
}

.radius-xl {
  border-radius: var(--radius-xl);
}

.radius-2xl {
  border-radius: var(--radius-2xl);
}

.radius-3xl {
  border-radius: var(--radius-3xl);
}

.radius-full {
  border-radius: var(--radius-full);
}
