@import "./media.scss";

$text_xs: 0.75rem; // 12px
$line_xs: 1rem; // 16px

$text_sm: 0.875rem; // 14px
$line_sm: 1.25rem; // 20px

$text_base: 1rem; // 16px
$line_base: 1.5rem; // 24px

$text_lg: 1.125rem; // 18px
$line_lg: 1.75rem; // 28px

$text_xl: 1.25rem; // 20px
$line_xl: 1.75rem; // 28px

$text_2xl: 1.5rem; // 24px
$line_2xl: 2rem; // 32px

$text_3xl: 1.875rem; // 30px
$line_3xl: 2.25rem; // 36px

$text_4xl: 2.25rem; // 36px
$line_4xl: 2.5rem; // 40px

$text_5xl: 3rem; // 48px
$line_5xl: 1; // 48px

$text_6xl: 3.75rem; // 60px
$line_6xl: 1; // 60px

$text_7xl: 4.5rem; // 72px
$line_7xl: 1; // 72px

$text_8xl: 6rem; // 96px
$line_8xl: 1; // 96px

$text_9xl: 8rem; // 128px
$line_9xl: 1; // 128px

$text-sizes: (
  xs: (
    0.75rem,
    1rem,
  ),
  sm: (
    0.875rem,
    1.25rem,
  ),
  base: (
    1rem,
    1.5rem,
  ),
  lg: (
    1.125rem,
    1.75rem,
  ),
  xl: (
    1.25rem,
    1.75rem,
  ),
  2xl: (
    1.5rem,
    2rem,
  ),
  3xl: (
    1.875rem,
    2.25rem,
  ),
  4xl: (
    2.25rem,
    2.5rem,
  ),
  5xl: (
    3rem,
    1,
  ),
  6xl: (
    3.75rem,
    1,
  ),
  7xl: (
    4.5rem,
    1,
  ),
  8xl: (
    6rem,
    1,
  ),
  9xl: (
    8rem,
    1,
  ),
);

.text-primary {
  color: var(--color-primary);
}
.text-secondary {
  color: var(--color-secondary);
}
.text-secondaryDark {
  color: var(--color-secondaryDark);
}
.text-tertiary {
  color: var(--color-tertiary);
}
.text-tertiaryDark {
  color: var(--color-tertiaryDark);
}
.text-black {
  color: var(--color-rooBlack);
}
.text-white {
  color: white;
}
.text-lightOne {
  color: var(--color-lightOne);
}
// .text-primarySecondaryOpac {
//   @apply bg-linear-to-r from-primary/70 to-secondary/70 bg-clip-text text-transparent;
// }
// .text-primaryTertiaryOpac {
//   @apply bg-linear-to-r from-primary/70 to-tertiary/70 bg-clip-text text-transparent;
// }
// .text-secondaryTertiaryOpac {
//   @apply bg-linear-to-r from-secondary/70 to-tertiary/70 bg-clip-text text-transparent;
// }
// .text-secondaryPrimaryOpac {
//   @apply bg-linear-to-r from-secondary/70 to-primary/70 bg-clip-text text-transparent;
// }
// .text-tertiaryPrimaryOpac {
//   @apply bg-linear-to-r from-tertiary/70 to-primary/70 bg-clip-text text-transparent;
// }
// .text-tertiarySecondaryOpac {
//   @apply bg-linear-to-r from-tertiary/70 to-secondary/70 bg-clip-text text-transparent;
// }
// .text-primarySecondaryTertiaryOpac {
//   @apply bg-linear-to-r from-primary/70 via-secondary/70 to-tertiary/70 bg-clip-text text-transparent;
// }
// .text-primaryTertiarySecondaryOpac {
//   @apply bg-linear-to-r from-primary/70 via-tertiary/70 to-secondary/70 bg-clip-text text-transparent;
// }
// .text-secondaryPrimaryTertiaryOpac {
//   @apply bg-linear-to-r from-secondary/70 via-primary/70 to-tertiary/70 bg-clip-text text-transparent;
// }
// .text-secondaryTertiryPrimaryOpac {
//   @apply bg-linear-to-r from-secondary/70 via-tertiary/70 to-primary/70 bg-clip-text text-transparent;
// }
// .text-tertiaryPrimarySecondaryOpac {
//   @apply bg-linear-to-r from-tertiary/70 via-primary/70 to-secondary/70 bg-clip-text text-transparent;
// }
// .text-tertiarySecondaryPrimaryOpac {
//   @apply bg-linear-to-r from-tertiary/70 via-secondary/70 to-primary/70 bg-clip-text text-transparent;
// }

.text-primarySecondary {
  background: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-secondary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.text-primaryTertiary {
  background: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-tertiary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.text-secondaryTertiary {
  background: linear-gradient(
    90deg,
    var(--color-secondary),
    var(--color-tertiary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.text-secondaryPrimary {
  background: linear-gradient(
    90deg,
    var(--color-secondary),
    var(--color-primary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.text-tertiaryPrimary {
  background: linear-gradient(
    90deg,
    var(--color-tertiary),
    var(--color-primary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.text-tertiarySecondary {
  background: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-secondary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.text-primarySecondaryTertiary {
  background: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-secondary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.text-primaryTertiarySecondary {
  background: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-secondary),
    var(--color-tertiary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.text-secondaryPrimaryTertiary {
  background: linear-gradient(
    90deg,
    var(--color-secondary),
    var(--color-primary),
    var(--color-tertiary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.text-secondaryTertiryPrimary {
  background: linear-gradient(
    90deg,
    var(--color-secondary),
    var(--color-tertiary),
    var(--color-primary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.text-tertiaryPrimarySecondary {
  background: linear-gradient(
    90deg,
    var(--color-tertiary),
    var(--color-primary),
    var(--color-secondary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.text-tertiarySecondaryPrimary {
  background: linear-gradient(
    90deg,
    var(--color-tertiary),
    var(--color-secondary),
    var(--color-primary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* Text size */

.fontSize-displayLg {
  font-size: 72px;

  @media media_max_md {
    font-size: 53px;
  }
}
.fontSize-displayMd {
  font-size: 48px;
  @media media_max_md {
    font-size: 40px;
  }
}
.fontSize-displaySm {
  font-size: 40px;
  @media media_max_md {
    font-size: 32px;
  }
}
.fontSize-headingXl {
  font-size: 60px;
  @media media_max_md {
    font-size: 48px;
  }
}

.fontSize-headingLg {
  font-size: 40px;
  @media media_max_md {
    font-size: 32px;
  }
}
.fontSize-headingMd {
  font-size: 28px;
  @media media_max_md {
    font-size: 24px;
  }
}
.fontSize-headingSm {
  font-size: 20px;
}
.fontSize-headingXs {
  font-size: 18px;
}
.fontSize-bodyXl {
  font-size: 20px;
}
.fontSize-bodyLg {
  font-size: 18px;
}
.fontSize-bodyMd {
  font-size: 16px;
}
.fontSize-bodySm {
  font-size: 13px;
}
.fontSize-bodyXs {
  font-size: 10px;
}

/* Fonts boldness*/
.fontWeight-base {
  font-weight: 500;
}

.fontWeight-semibold {
  font-weight: 600;
}

.fontWeight-bold {
  font-weight: 700;
}

.fontWeight-extraBold {
  font-weight: 800;
}
