@import "tailwindcss";
@import "./animations.scss";

/* Fonts boldness*/
.font-fontBase {
  @apply font-medium;
}

.font-fontSemibold {
  @apply font-semibold;
}

.font-fontBold {
  @apply font-bold;
}

.font-fontExtrabold {
  @apply font-extrabold;
}

/* Text size */

.text-displayLg {
  @apply text-[72px] max-sm:text-[53px];
}
.text-displayMd {
  @apply text-[48px] max-sm:text-[40px];
}
.text-displaySm {
  @apply text-[40px];
}
.text-headingXl {
  @apply text-[60px] max-sm:text-[48px];
}
.text-headingLg {
  @apply text-[40px] max-sm:text-[32px];
}
.text-headingMd {
  @apply text-[28px];
}
.text-headingSm {
  @apply text-[20px];
}
.text-headingXs {
  @apply text-[18px];
}
.text-bodyXl {
  @apply text-[20px];
}
.text-bodyLg {
  @apply text-[18px];
}
.text-bodyMd {
  @apply text-[16px];
}
.text-bodySm {
  @apply text-[13px];
}
.text-bodyXs {
  @apply text-[10px];
}

/* Text colors */
.text-primary {
  @apply text-primary;
}
.text-secondary {
  @apply text-secondary;
}
.text-secondaryDark {
  @apply text-secondaryDark;
}
.text-tertiary {
  @apply text-tertiary;
}
.text-tertiaryDark {
  @apply text-tertiaryDark;
}
.text-black {
  @apply text-rooBlack;
}
.text-white {
  @apply text-white;
}
.text-lightOne {
  @apply text-lightOne;
}
.text-primarySecondaryOpac {
  @apply bg-linear-to-r from-primary/70 to-secondary/70 bg-clip-text text-transparent;
}
.text-primaryTertiaryOpac {
  @apply bg-linear-to-r from-primary/70 to-tertiary/70 bg-clip-text text-transparent;
}
.text-secondaryTertiaryOpac {
  @apply bg-linear-to-r from-secondary/70 to-tertiary/70 bg-clip-text text-transparent;
}
.text-secondaryPrimaryOpac {
  @apply bg-linear-to-r from-secondary/70 to-primary/70 bg-clip-text text-transparent;
}
.text-tertiaryPrimaryOpac {
  @apply bg-linear-to-r from-tertiary/70 to-primary/70 bg-clip-text text-transparent;
}
.text-tertiarySecondaryOpac {
  @apply bg-linear-to-r from-tertiary/70 to-secondary/70 bg-clip-text text-transparent;
}
.text-primarySecondaryTertiaryOpac {
  @apply bg-linear-to-r from-primary/70 via-secondary/70 to-tertiary/70 bg-clip-text text-transparent;
}
.text-primaryTertiarySecondaryOpac {
  @apply bg-linear-to-r from-primary/70 via-tertiary/70 to-secondary/70 bg-clip-text text-transparent;
}
.text-secondaryPrimaryTertiaryOpac {
  @apply bg-linear-to-r from-secondary/70 via-primary/70 to-tertiary/70 bg-clip-text text-transparent;
}
.text-secondaryTertiryPrimaryOpac {
  @apply bg-linear-to-r from-secondary/70 via-tertiary/70 to-primary/70 bg-clip-text text-transparent;
}
.text-tertiaryPrimarySecondaryOpac {
  @apply bg-linear-to-r from-tertiary/70 via-primary/70 to-secondary/70 bg-clip-text text-transparent;
}
.text-tertiarySecondaryPrimaryOpac {
  @apply bg-linear-to-r from-tertiary/70 via-secondary/70 to-primary/70 bg-clip-text text-transparent;
}
.text-primarySecondary {
  @apply bg-linear-to-r from-primary to-secondary bg-clip-text text-transparent;
}
.text-primaryTertiary {
  @apply bg-linear-to-r from-primary to-tertiary bg-clip-text text-transparent;
}
.text-secondaryTertiary {
  @apply bg-linear-to-r from-secondary to-tertiary bg-clip-text text-transparent;
}
.text-secondaryPrimary {
  @apply bg-linear-to-r from-secondary to-primary bg-clip-text text-transparent;
}
.text-tertiaryPrimary {
  @apply bg-linear-to-r from-tertiary to-primary bg-clip-text text-transparent;
}
.text-tertiarySecondary {
  @apply bg-linear-to-r from-tertiary to-secondary bg-clip-text text-transparent;
}
.text-primarySecondaryTertiary {
  @apply bg-linear-to-r from-primary via-secondary to-tertiary bg-clip-text text-transparent;
}
.text-primaryTertiarySecondary {
  @apply bg-linear-to-r from-primary via-tertiary to-secondary bg-clip-text text-transparent;
}
.text-secondaryPrimaryTertiary {
  @apply bg-linear-to-r from-secondary via-primary to-tertiary bg-clip-text text-transparent;
}
.text-secondaryTertiryPrimary {
  @apply bg-linear-to-r from-secondary via-tertiary to-primary bg-clip-text text-transparent;
}
.text-tertiaryPrimarySecondary {
  @apply bg-linear-to-r from-tertiary via-primary to-secondary bg-clip-text text-transparent;
}
.text-tertiarySecondaryPrimary {
  @apply bg-linear-to-r from-tertiary via-secondary to-primary bg-clip-text text-transparent;
}
