$screen_xs: 375px;
$screen_sm: 576px;
$screen_md: 768px;
$screen_lg: 992px;
$screen_xl: 1200px;
$screen_xxl: 1600px;
$screen_xxxl: 1920px;

$breakpoints: (
  xs: $screen_xs,
  sm: $screen_sm,
  md: $screen_md,
  lg: $screen_lg,
  xl: $screen_xl,
  xxl: $screen_xxl,
  xxxl: $screen_xxxl,
);

$animation: ease-in-out 200ms;
