@import "tailwindcss";

@font-face {
  font-family: Montserrat;
  src: url("./_fonts/Montserrat.ttf");
}

@font-face {
  font-family: Nunito;
  src: url("./_fonts/Nunit-sans.ttf");
}

@theme {
  --color-secondary: #ff9900;
  --color-primary: #e70d72;
  --color-tertiary: #663399;

  --color-adminPrimary: var(--color-pink-600);

  --color-tertiaryLight: #a270d4;

  --color-borderLight: var(--color-gray-200);

  --color-textNormal: var(--color-gray-800);
  --color-textMedium: var(--color-gray-600);
  --color-textPlaceholder: var(--color-gray-500);

  --color-optionsBar: var(--color-gray-50);

  --font-montserrat: "Montserrat";
  --font-nunito: "Nunito";

  --spacing-contentWrapper: 1500px;
  --spacing-lowerHeader: 1000px;

  --radius-small: var(--radius-md);
  --radius-medium: var(--radius-xl);
  --radius-large: var(--radius-3xl);

  --spacing-adminGap: 1rem;
}

.listingGridColumns {
  @apply grid-cols-[repeat(auto-fit,minmax(17rem,1fr))];
}

h1 {
  @apply font-montserrat text-5xl;
}

h2 {
  @apply font-montserrat text-4xl;
}

h3 {
  @apply font-montserrat text-xl;
}

h4 {
  @apply font-montserrat text-lg;
}

h5 {
  @apply font-montserrat text-base;
}

p {
  @apply font-nunito;
}

.animate {
  @apply ease-in-out transition-all;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) white !important;
}

.gradientBorder {
  border-radius: 50px; /*1*/
  border: 3px solid transparent; /*2*/
  background: linear-gradient(45deg, red, blue) border-box; /*3*/
  mask: /*4*/ linear-gradient(#000 0 0) padding-box, linear-gradient(#000 0 0);
  mask-composite: exclude; /*5*/
}

::-webkit-scrollbar-thumb {
  scrollbar-color: var(--color-primary);
}

@layer utilities {
  .no-spin::-webkit-outer-spin-button,
  .no-spin::-webkit-inner-spin-button {
    @apply appearance-none m-0;
  }
  .no-spin {
    --moz-appearance: textfield;
  }
}
